body {
	background: #fff url(triskel_iot_bzh.svg) no-repeat fixed right top;
	font-family: "Verdana";
	color: #000;
}

h1, h2, h3 {
	color: #306;
	text-decoration: underline;
}

pre {
	border: medium dashed #306;
	border-width: 0.1em;
	background-color: #eee;
	margin-left: 2em;
	margin-right: 2em;
	padding: 1em;
	outline: #555;
}


