body {
	background: #fff url(triskel_iot_bzh.svg) no-repeat fixed right top;
	font-family: "Verdana";
	color: #000;
}

h1, h2, h3, h4 {
	color: #306;
	text-decoration: underline;
}

pre {
	border: medium dashed #306;
	border-width: 0.1em;
	background-color: #eee;
	margin-left: 2em;
	margin-right: 2em;
	padding: 1em;
	outline: #555;
}

blockquote {
	border-left: solid thick black;
	background-color: #ff8;
	font: bolder;
	padding: 0.7em 1.5em;
}

table  {
	margin-left: 2em;
	background-color: #dff;
	outline: 0.25em solid #a6f;
/*	padding: 0.25em;*/
}
thead {background-color: #a6f;}
tr:nth-child(even) {background-color: #aee;}
td { padding: 0.1em 0.5em; }

figure img {width: 80%;}
figure {text-align: center;}
